# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CLASE\service-rest-json-AliciaTugores\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
